<mat-card>
  <!-- <div class="container"> -->
    <mat-card-header>Solana  Token Transaction</mat-card-header>
    <form [formGroup]="transactionForm">
      <mat-form-field class="example-full-width">
        <mat-label>Recipient Public Key</mat-label>
        <input type="text" matInput formControlName="RecipientPublicKey" placeholder="RecipientPublicKey" >
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Amount</mat-label>
        <input matInput formControlName="Amount" placeholder="Amount" >
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Selected Token</mat-label>
        <input matInput formControlName="selectedToken" placeholder="Selected Token" >
      </mat-form-field>

      <button mat-raised-button color="primary">Submit</button>

    </form>
  <!-- </div> -->
</mat-card>
